/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'DM Sans', sans-serif;
    
}

::-webkit-scrollbar {
    display: none;
}

/* Header Navbar */
.header-container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px #ccc ;
    min-height: 9rem;
}
.header__navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0;
    margin-left: auto;
    margin-right: auto;
}

.header__navbar-list {
    list-style: none;
    display: inline-flex;
    justify-content: center;
}

.header__navbar-list::after {
    display: block;
    content:"";
    height: 6px;
    border-radius: 10px;
}

.header__navbar-item-menu-switch:hover .dropdown-menu-cover  {
    display: block;
}

.header__navbar-item {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.header__navbar-item.active::after {
    display: block;
    content:"";
    height: 6px;
    border-radius: 10px;
    background-color:var(--primary-color);
}

.header__navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 5.6rem;
    text-align: center;
    padding: 0 20px;
}



.header__navbar-icon {
    padding: 8px;
    font-size: 1.2rem;
    font-weight: 900;
}

.header__navbar-btn {

}

.header__navbar-link:hover {
    color: #73709b;
    opacity: 1;
}

.header__navbar-img {
    width: 160px;
    height: 42px;
}

/* Dropdown Menu */
.header__navbar-dropdown-menu {
    position: absolute;
    top: calc(100%);
    left: 0;
    right: 0;
    background-color: #fff;
    display: none;
}

.header__navbar-link-dropdown-menu {
    cursor: pointer;
}

.header__navbar-link-dropdown-menu::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 100px;
    top: calc(100% - 40px);
    left: auto;
    background-color: #fff; 
}


.header__navbar-link:hover .header__navbar-dropdown-menu {
    display: block;
}



.header__navbar-dropdown-menu-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.header__navbar-dropdown-menu-item {
    
}

.header__navbar-dropdown-menu-link {
    text-decoration: none;
    text-align: left;
}

.header__navbar-dropdown-menu-link:hover {
    background-color: rgb(207, 220, 246);
    transition: background-color .3s;
}

.header__navbar-dropdown-menu-icon {
    height: 48px;
    width: 48px;
}

.header__navbar-dropdown-menu-heading {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--text-color);
}

.header__navbar-dropdown-menu-paragraph {
    margin-top: 8px;
    font-size: 1.6rem;
}

/* Booking */
.booking-container {
    margin-top: 9rem;
    background-image: url(../img/booking_page/bookbg.svg);
    height: calc(100vh - 9rem);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-container__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 6.4rem;
}

.booking-container__heading {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-weight: 700;
}

/* Booking section */
.booking-container__box {
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking-container__box-wrapper {
    margin: 0 3.2rem;
    background-color: #fff;
    border: 1px solid #8b8b8b;
    border-radius: 2rem;
    padding: 1.6rem 1.8rem;
    padding-top: 2.4rem;
    width: 90%;
}

.booking-container__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-container__success {
    text-align: center;
    padding: 4.6rem 0;
}

.booking-container__success-icon {
    height: 18rem;
}

.booking-container__success-text {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    text-transform: uppercase;
}

.btn-wrapper {
    padding-bottom: 2rem;
    width: 100%;
    margin-top: 2.2rem;
    display: flex;
    justify-content: center;
}

.booking-container__footer-btn {
    font-weight: 700;
    border-radius: 2rem;
    text-transform: uppercase;
    margin-right: 3rem;
    margin-left: 3rem;
}

/* Account */
.header__account {
    border: 1px solid #8b8b8b50;
    padding: 1.2rem 0.8rem;
    border-radius: 2rem;
    margin-left: 6rem;
}

.header__account:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.header__account-wrapper {
    display: flex;
    align-items: center;
}

.header__account-img {
    height: 4.8rem;
    margin-right: 1.2rem;
    border-radius: 1rem;
}

.header__account-info {
    display: flex;
    flex-direction: column;
}

.header__account-name {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
}

.header__acount-role {
    font-size: 1.3rem;
    color: #7E7E7E;
}

.header__logout-wrapper {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    cursor: pointer;
}

.header__logout-wrapper:hover {
    opacity: 0.7;
}

.header__logout-img  {
    height: 1.6rem;
}

.ref__wrapper {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #000;
}



