{% load static %}
<div class="header-container">
    <div class="header">
        <div class="header__navbar">
            <ul class="header__navbar-list">
                <li class="header__navbar-item">
                    <a href="{% url 'home' %}" class="header__navbar-link">
                        <img src="https://assets.website-files.com/64d6620e2ccbfaec26bbc78e/64da9ac26ade0ff921bc278e_Clinicx%20Webflow%20Medical%20Template%20-%20logo.svg" alt="" class="header__navbar-img">
                    </a>
                </li>
            </ul>

            <ul class="header__navbar-list">
                <li class="header__navbar-item active">
                    <a href="{% url 'home' %}" class="header__navbar-link">Home</a>
                </li>
                <li class="header__navbar-item">
                    <a href="#about-section" class="header__navbar-link">About us</a>
                </li>
                <li class="header__navbar-item header__navbar-item-menu-switch">
                    <div href="#" class="header__navbar-link header__navbar-link-dropdown-menu">
                        Services
                        <i class="header__navbar-icon fa-solid fa-chevron-down"></i>
                        <div class="dropdown-menu-cover">
                            <div class="header__navbar-dropdown-menu">
                                <div class="grid">
                                    <ul class="header__navbar-dropdown-menu-list">
                                        <div class="row medium-gutters">
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row  medium-gutters">
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                            <div class="col l-4">
                                                <li class="header__navbar-dropdown-menu-item">
                                                    <a href="" class="header__navbar-dropdown-menu-link navbar-card">
                                                        <img src="https://assets.website-files.com/64d9eef747edd1c43be00c2a/64da4f40005c25565ce14b8f_Clinicx%20Webflow%20Medical%20Template%20-%20icon%20orthopedy.svg" alt="" class="header__navbar-dropdown-menu-icon">
                                                        <div class="header__navbar-dropdown-menu-heading">Neurology Services</div>
                                                        <p class="header__navbar-dropdown-menu-paragraph">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                                                        </p> 
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul> 
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    
                </li>
                <li class="header__navbar-item">
                    <a href="{% url 'blog' %}" class="header__navbar-link">Blog</a>
                </li>
                <li class="header__navbar-item">
                    <a href="{% url 'supportPage' %}" class="header__navbar-link">Contact</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% if request.user.role == 'ADMIN' %}
                    <li class="header__account">
                        <div class="header__account-wrapper">
                            <a href="{% url 'admin+' %}" class="ref__wrapper">
                                <img src="{% static 'img/blog/avatar.svg' %}" alt="" class="header__account-img">
                                <div class="header__account-info">
                                    <div class="header__account-name">{{ request.user.doctor }}</div>
                                    <div class="header__acount-role">{{ request.user.role }}</div>
                                </div>
                            </a>
                            <a href="{% url 'logout' %}" class="header__logout-wrapper">
                                <img src="{% static 'img/blog/logout.svg' %}" alt="" class="header__logout-img">
                            </a>
                        </div>
                    </li>
                    {% elif request.user.role == 'DOCTOR' %}
                    <li class="header__account">
                        <div class="header__account-wrapper">
                            <a href="{% url 'doctorProfile' request.user.id %}" class="ref__wrapper">
                                <img src="{% static 'img/blog/avatar.svg' %}" alt="" class="header__account-img">
                                <div class="header__account-info">
                                    <div class="header__account-name">{{ request.user.name }}</div>
                                    <div class="header__acount-role">{{ request.user.role }}</div>
                                </div>
                            </a>
                            <a href="{% url 'logout' %}" class="header__logout-wrapper">
                                <img src="{% static 'img/blog/logout.svg' %}" alt="" class="header__logout-img">
                            </a>
                        </div>
                    </li>
                    {% else %}
                        <li class="header__account">
                            <div href="{% url 'profile' request.user.id %}" class="header__account-wrapper">
                                <a href="{% url 'profile' request.user.id %}" class="ref__wrapper">
                                    <img src="{% static 'img/blog/avatar.svg' %}" alt="" class="header__account-img">
                                    <div class="header__account-info">
                                        <div class="header__account-name">{{ request.user.patient }}</div>
                                        <div class="header__acount-role">{{ request.user.role }}</div>
                                    </div>
                                </a>
                                <a href="{% url 'logout' %}" class="header__logout-wrapper">
                                    <img src="{% static 'img/blog/logout.svg' %}" alt="" class="header__logout-img">
                                </a>
                            </div>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>