<div class="footer-container">
    <footer class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-3">
                    <div class="footer__left-wrapper">
                        <img src="https://assets.website-files.com/64d6620e2ccbfaec26bbc78e/64da9ac10627b25a42e979e3_Clinicx%20Webflow%20Medical%20Template%20-%20icone%20logo.svg" alt="" class="footer__left-wrapper-img">
                        <div class="footer__left-wrapper-info">We have been caring 
                            for you in our clinics for over 100 years.</div>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="footer__pages">
                        <div class="footer__pages-heading">Pages</div>
                        <ul class="footer__pages-list">
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Home</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">About us</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Services</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Service single (CMS)</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Blog</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Blog single (CMS)</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="footer__utility-pages">
                        <div class="footer__pages-heading">Utility Pages</div>
                        <ul class="footer__pages-list">
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Style guide</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Licenses</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Changelog</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Coming soon</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Confirmation page</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">Protected page</a>
                            </li>
                            <li class="footer__pages-item">
                                <a href="" class="footer__pages-link">404</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col l-3">
                    <div class="footer__soical">
                        <div class="footer__pages-heading">Follow us</div>
                        <ul class="footer__pages-list">
                            <li class="footer__pages-item">
                                <i class="footer__pages-item-icon fa-brands fa-facebook"></i>
                                <a href="" class="footer__pages-link">Facebook</a>
                            </li>
                            <li class="footer__pages-item">
                                <i class="footer__pages-item-icon fa-brands fa-instagram"></i>
                                <a href="" class="footer__pages-link">Instagram</a>
                            </li>
                            <li class="footer__pages-item">
                                <i class="footer__pages-item-icon fa-brands fa-twitter"></i>
                                <a href="" class="footer__pages-link">Twitter</a>
                            </li>
                            <li class="footer__pages-item">
                                <i class="footer__pages-item-icon fa-brands fa-youtube"></i>
                                <a href="" class="footer__pages-link">Youtube</a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col l-12">
                    <div class="footer__border"></div>
                </div>
            </div>
            <div class="row">
                <div class="col l-12">
                    <div class="footer__copyright">
                        Copyright © Clinicx | Design by <a href="#">Bảo và Hưng</a> | Powered by <a href="#">Localhost</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>